In [1]:
!python3 -m pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://testguac:****@packages.gemini-hpc.ca/repository/pypi/simple
Requirement already satisfied: pyodbc in /mnt/nfs/home/dolatabadie/.local/lib/python3.8/site-packages (4.0.31)

In [3]:
### demo_analysis.ipynb ###
import pyodbc
import getpass
import pandas as pd

# Use your own username and whichever database you need
server = 'db.gemini-hpc.ca' 
database = 'delirium_v3_0_0' 
username = 'dolatabadie' 
password = getpass.getpass(prompt='Database password: ', stream=None) 
con = pyodbc.connect('DRIVER={PostgreSQL};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

Database password: ········

In [4]:
ip_adm_df = pd.read_sql_query('SELECT * FROM diagnosis LIMIT 10',con=con)

In [5]:
ip_adm_df.head()

,genc_id,diagnosis_code,diagnosis_type,ip_diagnosis_cluster,is_er_diagnosis,ccsr_default,ccsr_1,ccsr_2,ccsr_3,ccsr_4,ccsr_5,row_id
0,11100037,J069,M,None,False,RSP006,RSP006,None,None,None,None,1
1,11100037,F101,1,None,False,MBD017,MBD017,None,None,None,None,2
2,11100037,R509,M,None,True,SYM002,SYM002,None,None,None,None,3
3,11100040,G459,M,None,False,NVS012,NVS012,None,None,None,None,4
4,11100040,Z751,W,None,False,FAC025,FAC025,None,None,None,None,5