In [1]:
from cyclops.query import gemini

2022-06-02 10:56:15,463 INFO cyclops.orm     - Database setup, ready to run queries!

In [2]:
events = gemini.events("lab")
df = events.run(limit=1000)
df

2022-06-01 13:07:27,228 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:07:27,231 INFO cyclops.utils.profile - Finished executing function run_query in 0.090793 s

,lab_test_name_raw,test_code_raw,encounter_id,event_value,event_value_unit,event_timestamp,reference_range,event_name,row_id
0,Potassium serum,KS,14100639,3.5,mmol/L,2016-04-16 05:00:00,,Potassium,93715362
1,Potassium serum,KS,14100639,3.7,mmol/L,2016-04-15 05:30:00,,Potassium,93715363
2,Potassium serum,KS,14100639,4.0,mmol/L,2016-04-14 05:00:00,,Potassium,93715364
3,Potassium serum,KS,14100639,4.2,mmol/L,2016-04-13 22:15:00,,Potassium,93715365
4,Potassium serum,KS,14100639,4.6,mmol/L,2016-03-28 05:00:00,,Potassium,93715366
...,...,...,...,...,...,...,...,...,...
995,Potassium serum,KS,14427164,4.0,mmol/L,2015-06-07 12:15:00,,Potassium,93716357
996,Potassium serum,KS,14428328,2.6,mmol/L,2012-01-12 05:00:00,,Potassium,93716358
997,Potassium serum,KS,14428328,2.8,mmol/L,2012-01-19 22:00:00,,Potassium,93716359
998,Potassium serum,KS,14428328,3.2,mmol/L,2012-01-20 05:00:00,,Potassium,93716360
999,Potassium serum,KS,14428328,3.4,mmol/L,2012-01-10 05:00:00,,Potassium,93716361

In [3]:
df["event_name"].unique()

array(['Potassium'], dtype=object)

In [5]:
care_units = gemini.care_units(patient_encounters_table=patient_encounters.query)
df = care_units.run(limit=1000)
df

2022-06-01 13:10:47,445 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:47,449 INFO cyclops.utils.profile - Finished executing function run_query in 0.741088 s

,encounter_id,admit,discharge,care_unit,subject_id,city,province,country,language,total_direct_cost,...,del_present,gemini_cohort,discharge_description,admit_via_ambulance,triage_level,physician_initial_assessment_date_time,er_admit_timestamp,disposition_date_time,er_discharge_timestamp,length_of_stay_in_er
0,14866272,2008-08-13 12:00:00,2008-08-14 03:00:00,ER,5ddfde87b2c47c7b8ee51225e67ff9da8a8a8fb879b43c...,TORONTO,Ontario,Canada,English,402749.0,...,None,None,Other,N,3,2008-08-13 16:00:00,2008-08-13 12:00:00,2008-08-14 00:00:00,2008-08-14 03:00:00,15.0
1,14667664,2009-09-04 06:00:00,2009-09-05 10:00:00,ER,8287c0b53a4be2e734c8d7f4513e39e6cbaf1dc477ede1...,TORONTO,Ontario,Canada,English,189385.0,...,None,None,Other,G,4,2009-09-04 07:00:00,2009-09-04 06:00:00,2009-09-05 09:00:00,2009-09-05 10:00:00,28.0
2,14243193,2009-11-10 23:00:00,2009-11-11 13:00:00,ER,e9bab8085ed884cd7526956558b5471e2d8472301acbb0...,TORONTO,Ontario,Canada,English,114536.0,...,None,None,Other,G,3,2009-11-11 03:00:00,2009-11-10 23:00:00,2009-11-11 13:00:00,2009-11-11 13:00:00,14.0
3,14934278,2009-11-13 00:00:00,2009-11-13 21:00:00,ER,2ca84939b81e7a49a127be901be711dc0879e5fcee9964...,TORONTO,Ontario,Canada,English,101362.0,...,None,None,Died,N,2,2009-11-13 01:00:00,2009-11-13 00:00:00,2009-11-13 19:00:00,2009-11-13 21:00:00,21.0
4,14242343,2009-11-20 11:00:00,2009-11-20 17:00:00,ER,105f8f6860155667977d5a342e7a8f4922d0ab23522606...,TORONTO,Ontario,Canada,English,91442.0,...,None,None,Home,N,3,2009-11-20 11:00:00,2009-11-20 11:00:00,2009-11-20 15:00:00,2009-11-20 17:00:00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,14935651,2010-08-05 09:00:00,2010-08-05 20:00:00,ER,d54b2a708d8a32c9ea0ffc2c9a0764c191465859fefe05...,TORONTO,Ontario,Canada,English,768.0,...,None,None,Home,N,3,2010-08-05 10:00:00,2010-08-05 09:00:00,2010-08-05 18:00:00,2010-08-05 20:00:00,11.0
996,14872712,2010-08-05 10:00:00,2010-08-06 04:00:00,ER,0dce3a749c94d0dc7988c2df306dd05a239b3987bc9447...,TORONTO,Ontario,Canada,English,13903.0,...,None,None,Home,G,3,2010-08-05 12:00:00,2010-08-05 10:00:00,2010-08-06 00:00:00,2010-08-06 04:00:00,18.0
997,14826817,2010-08-05 11:00:00,2010-08-05 21:00:00,ER,9673af4c7dd8ab102a1787a832223560fc7db5d9ee97ca...,UNIONVILLE,Ontario,Canada,English,2097.0,...,None,None,Home,N,3,2010-08-05 14:00:00,2010-08-05 11:00:00,2010-08-05 20:00:00,2010-08-05 21:00:00,10.0
998,14304958,2010-08-05 14:00:00,2010-08-05 23:00:00,ER,8b14a758e59fee4f114038611b1c59d78dfe09bd7ff537...,TORONTO,Ontario,Canada,Portugese,2909.0,...,None,None,Home,N,3,2010-08-05 16:00:00,2010-08-05 14:00:00,2010-08-05 21:00:00,2010-08-05 23:00:00,9.0
999,14759399,2010-08-05 18:00:00,2010-08-06 22:00:00,ER,a38574a8419b1d57edc294ec63d504f167d2e0a11ec65f...,TORONTO,Ontario,Canada,English,7925.0,...,None,None,Home,G,2,2010-08-05 19:00:00,2010-08-05 18:00:00,2010-08-06 00:00:00,2010-08-06 22:00:00,28.0

In [ ]:
df.columns

In [6]:
room_transfers = gemini.room_transfers()
df = room_transfers.run(limit=1000)
df

2022-06-01 13:10:51,361 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:51,369 INFO cyclops.utils.profile - Finished executing function run_query in 0.025032 s

,encounter_id,medical_service,unit_to_number,room_to_number,checkin_date_time,checkout_date_time,row_id,value,transfer_description
0,13696352,6,FA 8 Fell Pavilion,FA 8 110 1,2010-06-15 22:49:00,2010-06-25 19:49:00,593079,6,GIM ward
1,13696373,3,TG-Emergency,TG-Exam 16-3,2018-10-31 23:12:00,2018-11-01 05:56:00,593080,3,Emergency
2,13696373,3,TG-Emergency,TG-OutofDept 01,2018-11-01 05:56:00,2018-11-01 06:02:00,593081,3,Emergency
3,13696373,5,"PM-17A Breast, Gyn, GI & GU - Ext. 4499",PM-17A 734 1,2018-11-03 14:28:00,2018-11-03 19:20:00,593082,5,Other ward
4,13696373,5,"PM-17A Breast, Gyn, GI & GU - Ext. 4499",PM-17A 734 1,2018-11-03 19:20:00,2018-11-05 08:27:00,593083,5,Other ward
...,...,...,...,...,...,...,...,...,...
995,13698347,5,FA 5 Fell Pavilion,FA 5 118 2,2016-01-24 03:30:00,2016-01-26 15:43:00,594199,5,Other ward
996,13698357,3,TG-Emergency,TG-Acute 2,2019-01-02 21:25:00,2019-01-03 00:14:00,594200,3,Emergency
997,13698357,3,TG-Emergency,TG-OutofDept 10,2019-01-03 00:14:00,2019-01-03 00:19:00,594201,3,Emergency
998,13698357,5,TG-ES 10 Thoracic Surgery/Respirology,TG-ES 10 422 1,2019-01-04 10:46:00,2019-01-04 17:01:00,594202,5,Other ward
999,13698365,3,Emergency,Gen Wait 02,2010-12-31 16:29:00,2010-12-31 16:51:00,594208,3,Emergency

In [3]:
er_admin = gemini.er_admin()
df = er_admin.run(limit=1000)
df

2022-06-01 13:10:29,148 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:29,152 INFO cyclops.utils.profile - Finished executing function run_query in 0.094116 s

,encounter_id,admit_via_ambulance,triage_level,physician_initial_assessment_date_time,er_admit_timestamp,disposition_date_time,er_discharge_timestamp,length_of_stay_in_er
0,14866272,N,3,2008-08-13 16:00:00,2008-08-13 12:00:00,2008-08-14 00:00:00,2008-08-14 03:00:00,15.0
1,14667664,G,4,2009-09-04 07:00:00,2009-09-04 06:00:00,2009-09-05 09:00:00,2009-09-05 10:00:00,28.0
2,14243193,G,3,2009-11-11 03:00:00,2009-11-10 23:00:00,2009-11-11 13:00:00,2009-11-11 13:00:00,14.0
3,14934278,N,2,2009-11-13 01:00:00,2009-11-13 00:00:00,2009-11-13 19:00:00,2009-11-13 21:00:00,21.0
4,14242343,N,3,2009-11-20 11:00:00,2009-11-20 11:00:00,2009-11-20 15:00:00,2009-11-20 17:00:00,6.0
...,...,...,...,...,...,...,...,...
995,14935651,N,3,2010-08-05 10:00:00,2010-08-05 09:00:00,2010-08-05 18:00:00,2010-08-05 20:00:00,11.0
996,14872712,G,3,2010-08-05 12:00:00,2010-08-05 10:00:00,2010-08-06 00:00:00,2010-08-06 04:00:00,18.0
997,14826817,N,3,2010-08-05 14:00:00,2010-08-05 11:00:00,2010-08-05 20:00:00,2010-08-05 21:00:00,10.0
998,14304958,N,3,2010-08-05 16:00:00,2010-08-05 14:00:00,2010-08-05 21:00:00,2010-08-05 23:00:00,9.0
999,14759399,G,2,2010-08-05 19:00:00,2010-08-05 18:00:00,2010-08-06 00:00:00,2010-08-06 22:00:00,28.0

In [ ]:
from cyclops.query.util import get_attribute_names
get_attribute_names(er_admin.query)

In [4]:
patient_encounters = gemini.patient_encounters(er_admin_table=er_admin.query)#, years=2010)
df = patient_encounters.run()
df

2022-06-01 13:10:41,321 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:41,326 INFO cyclops.utils.profile - Finished executing function run_query in 9.877773 s

,encounter_id,subject_id,city,province,country,language,total_direct_cost,total_indirect_cost,total_cost,hospital_id,...,del_present,gemini_cohort,discharge_description,admit_via_ambulance,triage_level,physician_initial_assessment_date_time,er_admit_timestamp,disposition_date_time,er_discharge_timestamp,length_of_stay_in_er
0,14856115,5da04aa4138bcbdb34828ccced0bb5ce538315854bf056...,TORONTO,Ontario,Canada,English,5506.0,1748.0,7254.0,MSH,...,NaN,None,Home,G,2,2010-04-04 18:00:00,2010-04-04 14:00:00,2010-04-05 01:00:00,2010-04-05 03:00:00,13.0
1,14497041,212d4e53b98b0e32a793742d3a9c698d238d03f0c48cab...,NORTH YORK,Ontario,Canada,English,4107.0,1184.0,5291.0,MSH,...,NaN,None,Home,N,4,2010-10-27 11:00:00,2010-10-27 10:00:00,2010-10-27 23:00:00,2010-10-28 05:00:00,19.0
2,14313336,53e510c918822734928b360a93fcd9b76cc5562369d8dd...,MISSISSAUGA,Ontario,Canada,English,12474.0,3993.0,16467.0,MSH,...,NaN,None,Home,N,2,2010-10-28 18:00:00,2010-10-28 14:00:00,2010-10-28 18:00:00,2010-10-28 21:00:00,7.0
3,14286206,6032064bcce9e480e3ebcaf50b3970ebffcb63840fd312...,toronto,Ontario,Canada,English,11216.0,3602.0,14819.0,MSH,...,NaN,None,Home,N,2,2010-11-04 18:00:00,2010-11-04 17:00:00,2010-11-05 05:00:00,2010-11-05 11:00:00,18.0
4,14925825,,TORONTO,Ontario,Canada,English,2593.0,894.0,3487.0,MSH,...,NaN,None,Home,G,3,2011-02-19 12:00:00,2011-02-19 11:00:00,2011-02-19 18:00:00,2011-02-19 23:00:00,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324686,12865831,c248f837169c13541fa7bcd1266dc8e3c96c5272fd6550...,TORONTO,ON,CANADA,ENGLISH,10477.0,3135.0,13612.0,SBK,...,NaN,None,Home,N,3,2012-03-28 20:00:00,2012-03-28 15:00:00,2012-03-29 01:00:00,2012-03-29 02:00:00,11.0
324687,12836736,834600e2b0074e517350fcd42ed0d39239247bc8726661...,WHITBY,ON,CANADA,ENGLISH,5487.0,1531.0,7018.0,SBK,...,NaN,None,Home,N,3,2012-03-31 18:00:00,2012-03-31 16:00:00,2012-04-01 06:00:00,2012-04-01 13:00:00,21.0
324688,12200742,c62d09f04cb05dc867ea8628261d8a2339e1cd75c1e02c...,TORONTO,ON,CANADA,ENGLISH,1455.0,380.0,1835.0,SBK,...,NaN,None,Home,N,3,2012-04-01 12:00:00,2012-04-01 11:00:00,2012-04-01 15:00:00,2012-04-01 17:00:00,6.0
324689,12405649,6278b1d60cd13878de97a3025c2b5de8223387856d0176...,TORONTO,ON,CANADA,ENGLISH,5523.0,1547.0,7069.0,SBK,...,NaN,None,Home,N,3,2012-04-12 19:00:00,2012-04-12 14:00:00,2012-04-13 02:00:00,2012-04-13 04:00:00,14.0
324690,12349226,2f534ef621d0e31a62c0d16d3d88825362fc646f0ff441...,TORONTO,ON,CANADA,Other,2771.0,749.0,3521.0,SBK,...,NaN,None,Other,G,3,2012-05-10 17:00:00,2012-05-10 15:00:00,2012-05-11 01:00:00,2012-05-11 03:00:00,12.0

In [7]:
patient_diagnoses = gemini.patient_diagnoses()
df = patient_diagnoses.run(limit=1000)
df

2022-06-01 13:10:56,872 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:56,876 INFO cyclops.utils.profile - Finished executing function run_query in 0.165912 s

,encounter_id,subject_id,city,province,country,language,total_direct_cost,total_indirect_cost,total_cost,hospital_id,...,diagnosis_type_description,ip_diagnosis_cluster,is_er_diagnosis,ccsr_default,ccsr_1,ccsr_2,ccsr_3,ccsr_4,ccsr_5,row_id
0,12529718,0ec6e1967a655b262a00de6f3a171a7459bd54ac873013...,ALLISTON,ON,CANADA,ENGLISH,1692.0,503.0,2195.0,SBK,...,Secondary Diagnosis,None,False,CIR011,CIR011,FAC009,None,None,None,412455
1,12529718,0ec6e1967a655b262a00de6f3a171a7459bd54ac873013...,ALLISTON,ON,CANADA,ENGLISH,1692.0,503.0,2195.0,SBK,...,Secondary Diagnosis,None,False,None,None,None,None,None,None,412456
2,12529718,0ec6e1967a655b262a00de6f3a171a7459bd54ac873013...,ALLISTON,ON,CANADA,ENGLISH,1692.0,503.0,2195.0,SBK,...,Secondary Diagnosis,None,False,CIR011,CIR011,None,None,None,None,412457
3,12529718,0ec6e1967a655b262a00de6f3a171a7459bd54ac873013...,ALLISTON,ON,CANADA,ENGLISH,1692.0,503.0,2195.0,SBK,...,Secondary Diagnosis,None,False,FAC021,FAC021,None,None,None,None,412458
4,12529718,0ec6e1967a655b262a00de6f3a171a7459bd54ac873013...,ALLISTON,ON,CANADA,ENGLISH,1692.0,503.0,2195.0,SBK,...,Most Responsible Diagnosis,None,True,CIR011,CIR011,None,None,None,None,412459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12532248,4e2f77639036813b68f5009dc2796210af7e04967acc1b...,PICKERING,ON,CANADA,ENGLISH,18675.0,6431.0,25106.0,SBK,...,Most Responsible Diagnosis,None,True,RSP008,RSP008,None,None,None,None,413450
996,12532273,61f514936a7aa65852cb038028284f89986054afc05016...,TORONTO,ON,CANADA,ENGLISH,1231.0,331.0,1562.0,SBK,...,Most Responsible Diagnosis,None,False,SYM001,SYM001,None,None,None,None,413451
997,12532273,61f514936a7aa65852cb038028284f89986054afc05016...,TORONTO,ON,CANADA,ENGLISH,1231.0,331.0,1562.0,SBK,...,Secondary Diagnosis,None,False,END002,END002,END005,None,None,None,413452
998,12532273,61f514936a7aa65852cb038028284f89986054afc05016...,TORONTO,ON,CANADA,ENGLISH,1231.0,331.0,1562.0,SBK,...,Secondary Diagnosis,None,False,CIR007,CIR007,None,None,None,None,413453
999,12532273,61f514936a7aa65852cb038028284f89986054afc05016...,TORONTO,ON,CANADA,ENGLISH,1231.0,331.0,1562.0,SBK,...,Secondary Diagnosis,None,False,END010,END010,None,None,None,None,413454

In [8]:
diagnoses = gemini.diagnoses()
df = diagnoses.run(limit=1000)
df

2022-06-01 13:10:59,728 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:10:59,731 INFO cyclops.utils.profile - Finished executing function run_query in 0.025661 s

,encounter_id,diagnosis_code,diagnosis_type,diagnosis_type_description,ip_diagnosis_cluster,is_er_diagnosis,ccsr_default,ccsr_1,ccsr_2,ccsr_3,ccsr_4,ccsr_5,row_id
0,12529718,Z951,3,Secondary Diagnosis,None,False,CIR011,CIR011,FAC009,None,None,None,412455
1,12529718,Z8642,3,Secondary Diagnosis,None,False,None,None,None,None,None,None,412456
2,12529718,I200,3,Secondary Diagnosis,None,False,CIR011,CIR011,None,None,None,None,412457
3,12529718,Z8580,3,Secondary Diagnosis,None,False,FAC021,FAC021,None,None,None,None,412458
4,12529718,I249,M,Most Responsible Diagnosis,None,True,CIR011,CIR011,None,None,None,None,412459
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12532248,J441,M,Most Responsible Diagnosis,None,True,RSP008,RSP008,None,None,None,None,413450
996,12532273,R55,M,Most Responsible Diagnosis,None,False,SYM001,SYM001,None,None,None,None,413451
997,12532273,E119,3,Secondary Diagnosis,None,False,END002,END002,END005,None,None,None,413452
998,12532273,I100,3,Secondary Diagnosis,None,False,CIR007,CIR007,None,None,None,None,413453
999,12532273,E785,3,Secondary Diagnosis,None,False,END010,END010,None,None,None,None,413454

In [9]:
patient_encounters = gemini.patient_encounters(died_binarize_col="died")
df = patient_encounters.run()
df

2022-06-01 13:11:12,333 INFO cyclops.orm     - Query returned successfully!
2022-06-01 13:11:12,337 INFO cyclops.utils.profile - Finished executing function run_query in 7.853624 s

,encounter_id,subject_id,city,province,country,language,total_direct_cost,total_indirect_cost,total_cost,hospital_id,...,mrp_gim,admitting_service_mapped,discharging_service_mapped,from_nursing_home_mapped,from_acute_care_institution_mapped,los_derived,del_present,gemini_cohort,discharge_description,died
0,13913958,5f21d00fd0ad26d26df5a00fedde5440e14e140893a2ac...,Toronto,ON,Can,English,1520.97,506.21,2027.18,UHNTW,...,y,GIM,GIM,False,False,3.166667,NaN,None,Home,False
1,13914472,6afc6fec83d23c1a0e66db5300624f369a6a32d3ea008d...,Toronto,ON,Can,Greek,2835.94,931.65,3767.59,UHNTW,...,y,GIM,GIM,False,False,0.309722,NaN,None,Died,True
2,13914637,73d6d630a79e5af81d6d8ab50d1eef17f1cdda98235e6f...,TORONTO,ON,Can,English,2486.11,860.95,3347.06,UHNTW,...,y,GIM,GIM,False,False,3.177778,NaN,None,Home,False
3,13915456,,YORK,ON,Can,Hungarian,5271.06,2011.65,7282.71,UHNTW,...,y,GIM,GIM,False,False,7.722222,NaN,None,Home,False
4,13916231,c6d2777e208784337650d592e88ac550a9570c11ba3c29...,THORNHILL,ON,Can,English,4932.11,1815.16,6747.27,UHNTG,...,y,GIM,GIM,False,False,5.512500,NaN,None,Home,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341005,13912295,8bd06da9ee051ab7a41de5c6c91c6b23609812b5116c07...,TORONTO,ON,Can,Portuguese,14100.87,5090.99,19191.86,UHNTW,...,y,GIM,GIM,False,False,19.592361,NaN,None,Home,False
341006,13912764,4e1cedcf328dc4cb33e719402d8bbea5354c7a6ba7e9ba...,YORK,ON,Can,Portuguese,1657.07,668.49,2325.56,UHNTW,...,n,GIM,GIM,False,False,2.391667,NaN,None,Home,False
341007,13912783,8905420068d87d26074b14adc8e9cdbc1ba85dfe0c7658...,,,,English,16993.25,6036.42,23029.67,UHNTG,...,y,,GIM,False,False,21.784721,NaN,None,Home,False
341008,13912884,c872ed3cad3ec74ab4bbcc9b7d60adf6415aee341c48ae...,ETOBICOKE,ON,Can,English,3496.88,1117.06,4613.94,UHNTW,...,n,GIM,GIM,False,False,4.147222,NaN,None,Home,False
341009,13913745,873718124fe83a97368d902198ea01c464a20bccbcffc8...,YORK,ON,Can,English,2188.18,868.58,3056.76,UHNTG,...,y,GIM,GIM,False,False,2.920139,NaN,None,Home,False